<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
    <div fxFlex="100%" fxLayout="column" fxLayoutGap="15px">
        <div fxFlex="100%" fxLayout="row" fxLayoutGap="15px">
            
                <p>{{data.details}}</p>
            
        </div>
    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button class="closeBtn" (click)="closeDialog()" mat-dialog-close>Cancel</button>
    <button mat-raised-button (click)="confirm()">Confirm</button>
</div>