<h1 mat-dialog-title>Ticket Details</h1>
<div mat-dialog-content>
    <div fxFlex="100%" fxLayout="column" fxLayoutGap="15px">
        <div fxFlex="100%" fxLayout="row" fxLayoutGap="15px">
            <div fxFlex="33.33%">
                <p>Airline: {{ticketDetails.flightName}}</p>
            </div>
            <div fxFlex="33.33%">
                <p>Flight Number: {{ticketDetails.flightNumber}}</p>
            </div>
            <div fxFlex="33.33%">                
                <p>Journey Date: {{ticketDetails.journeyDate | date:'MMM d, yy, h:mm a'}}</p>
            </div>
        </div>

        <div fxFlex="100%" fxLayout="row" fxLayoutGap="15px">
            <div fxFlex="33.33%">
                <p>From: {{ticketDetails.fromPlace}}</p>
            </div>
            <div fxFlex="33.33%">
                <p>To: {{ticketDetails.toPlace}}</p>
            </div>
            <div fxFlex="33.33%">
                <p>Price: {{ticketDetails.price}}</p>
            </div>

        </div>

        <div fxFlex="100%" fxLayout="row" fxLayoutGap="15px">
            <div fxFlex="33.33%">
                <p>Total Availability: {{ticketDetails.totalAvaiability}}</p>
            </div>
            <div fxFlex="33.33%">
                <p>Class: {{ticketDetails.classType}}</p>
            </div>
            <div fxFlex="33.33%">

            </div>
        </div>
        <form [formGroup]="passengerForm" fxFlex="100%" fxLayout="column" fxLayoutGap="15px" novalidate>
            <div formArrayName='passengers' *ngFor="let obj of passengersControl.controls; let i = index">
                <div [formGroupName]="i" fxFlex="100%" fxLayout="row" fxLayoutGap="5px">
                <mat-form-field appearance="outline">
    
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="name">
                    <!-- <mat-error *ngIf="from.invalid || from.touched">From is required</mat-error> -->
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Gender</mat-label>
                    <mat-select matNativeControl formControlName="gender">
                        <mat-option value="male" selected>Male</mat-option>
                        <mat-option value="female">female</mat-option>
                        <mat-option value="trans">Transgender</mat-option>
                        <mat-option value="other">Others</mat-option>
                    </mat-select>
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Age</mat-label>
                    <input matInput type="number" formControlName="age">
                </mat-form-field>                
    
                <mat-form-field appearance="outline">
                    <mat-label>Meal</mat-label>
                    <mat-select matNativeControl formControlName="optForMeal">
                        <mat-option value="none" selected>None</mat-option>
                        <mat-option value="veg">Veg</mat-option>
                        <mat-option value="non-veg">Non-Veg</mat-option>
                    </mat-select>
                </mat-form-field>                                               
    
                <mat-form-field appearance="outline">
                    <mat-label>Seat No.</mat-label>
                    <input matInput type="number" formControlName="seatNo">
                </mat-form-field>
                <section>
                    <div class="example-button-row">
                        <button mat-raised-button (click)="add(i)">+</button>                
                        <button mat-raised-button class="closeBtn" fxFlex="column" (click)="remove(i)">-</button>
                    </div>
                </section>
                    
                </div>                
            </div>
        </form>
    </div>
    
</div>

<div mat-dialog-actions align="end">
    <button mat-raised-button class="closeBtn" (click)="closeDialog()" mat-dialog-close>Close</button>
    <button mat-raised-button (click)="onSubmit()">Book Now</button>

</div>