<h1 mat-dialog-title>Ticket Details</h1>
<div mat-dialog-content>
    <div fxFlex="100%" fxLayout="column" fxLayoutGap="15px">
        <div fxFlex="100%" fxLayout="row" fxLayoutGap="15px">
            <div fxFlex="33.33%">
                <p>PNR Number: {{ticketDetails.pnrNumber}}</p>
            </div>
            <div fxFlex="33.33%">
                <p>User ID: {{ticketDetails.userID}}</p>
            </div>
            <div fxFlex="33.33%">
                <p>User Name: {{ticketDetails.userName}}</p>
            </div>
        </div>

        <div fxFlex="100%" fxLayout="row" fxLayoutGap="15px">
            <div fxFlex="33.33%">
                <p>From: {{ticketDetails.fromPlace}}</p>
            </div>
            <div fxFlex="33.33%">
                <p>To: {{ticketDetails.toPlace}}</p>
            </div>
            <div fxFlex="33.33%">
                <p>Journey Date: {{ticketDetails.doj | date:'short'}}</p>
            </div>
        </div>

        <div fxFlex="100%" fxLayout="row" fxLayoutGap="15px">
            <div fxFlex="33.33%">
                <p>Flight Number: {{ticketDetails.flightNumber}}</p>
            </div>
            <div fxFlex="33.33%">
                <p>Class: {{ticketDetails.classType}}</p>
            </div>
            <div fxFlex="33.33%">
                
            </div>
        </div>

        <div fxFlex="100%" fxLayout="row" fxLayoutAlign=" stretch" fxLayoutGap="15px">
            <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element">{{element.name}}</td>
                </ng-container>

                <ng-container matColumnDef="gender">
                    <th mat-header-cell *matHeaderCellDef>Gender</th>
                    <td mat-cell *matCellDef="let element">{{element.gender}}</td>
                </ng-container>

                <ng-container matColumnDef="age">
                    <th mat-header-cell *matHeaderCellDef>Age</th>
                    <td mat-cell *matCellDef="let element">{{element.age}}</td>
                </ng-container>                

                <ng-container matColumnDef="optForMeal">
                    <th mat-header-cell *matHeaderCellDef>Meal</th>
                    <td mat-cell *matCellDef="let element">{{element.optForMeal}}</td>
                </ng-container>

                <ng-container matColumnDef="seatNo">
                    <th mat-header-cell *matHeaderCellDef>Seat No.</th>
                    <td mat-cell *matCellDef="let element">{{element.seatNo}}</td>
                </ng-container>
                
                <ng-container matColumnDef="loader">
                    <mat-footer-cell *matFooterCellDef>
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </mat-footer-cell>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

    </div>
</div>

<div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</div>