<mat-toolbar color="primary" class="mat-elevation-z8">
    <span class="cursorChange" routerLink="/search-flights"><mat-icon>flight_takeoff</mat-icon>Let's Go</span>
    <div class="spacer"></div>
    <a mat-button routerLink="/search-flights"><mat-icon>home</mat-icon></a>
    <!-- <button *ngIf="isAdmin" mat-button [matMenuTriggerFor]="airlineMenu">Airline</button> -->
    <a mat-button *ngIf="isAdmin" routerLink="/add-airline">Airline</a>
    <a mat-button *ngIf="isUser || isAdmin" routerLink="/booking">Booking</a>
    <!-- <button *ngIf="isUser || isAdmin" mat-button [matMenuTriggerFor]="menu">Booking</button> -->
    
    <a *ngIf="!isLoggedIn" mat-button routerLink="/registration">Register</a>
    <a *ngIf="!isLoggedIn" mat-button routerLink="/login">Login</a>
    <a *ngIf="isLoggedIn" mat-button (click)="Logout()">{{userProfile.userid}}<mat-icon>exit_to_app</mat-icon></a>
</mat-toolbar>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-scale-multiple" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<router-outlet></router-outlet>
